.dashboard {
  display: flex;
  justify-content: start;
  gap: 10px;
}

.left-panel {
  max-width: 30dvw;
}

.right-panel {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 70dvw;
}

.title {
  margin: 0;
  @media screen and (max-width: 390px) {
    font-size: 1em;
  }
}

.sensor-grid {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
