.dashboard {
  padding: 20px;
  font-family: 'Segoe UI', Arial, sans-serif;
  background-color: #f7f9fc;
  min-height: 100vh;
}

.dashboard__title {
  text-align: center;
  color: #2c3e50;
  margin-bottom: 20px;
  font-size: 24px;
}

.dashboard__grid {
  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1600px;
  margin: 0 auto;
}

.block {
  display: flex;
  flex-wrap: wrap;
  justify-content: baseline;
  gap: 20px;
}

.block--primary {
  background-color: #d2e8f9;
  //border: 1px solid #2196f3;
  border-radius: 14px;
  padding: 22px;
}

.block--secondary {
  background-color: #f2f8e6 !important;
  //border: 1px solid #66bb6a;
  border-radius: 14px;
  padding: 22px;
}
