.device-list {
  background-color: #f9f9f9;
  padding: 10px;
  font-size: 1rem;

  p {
    margin: 0;
    font-size: 12px;

    @media screen and (max-width: 390px) {
      font-size: 8px;
    }
  }

  h3 {
    margin: 0;
    font-size: 14px;

    @media screen and (max-width: 390px) {
      font-size: 10px;
    }
  }
}

.device-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 5px;
}

.device-item.selected {
  background-color: #6bc5d1;
}

.device-status {
  display: flex;
  align-items: center;
}

.device-status span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.device-status .online {
  background-color: #28a745;
}

.device-status .offline {
  background-color: #dc3545;
}

.device-actions {
  margin-left: auto;
}
